@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import "variables";

// Bootstrap


.btn-round{
  border-radius: 17px;
}

.logo{
  img{
    height:90px;
    width:auto;
  }
}

.register-form{
  .title{
    font-size:30px;
    color: $font-color;
    font-weight: bold;
    text-align: center;
  }
}
